<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weyon.core.dao.CoreFieldInfoMapper">
  <resultMap id="BaseResultMap" type="com.weyon.core.entity.CoreFieldInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="OPERATOR_ID" jdbcType="VARCHAR" property="operatorId" />
    <result column="OPERATE_TYPE" jdbcType="VARCHAR" property="operateType" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="NEW_DATA_ID" jdbcType="VARCHAR" property="newDataId" />
    <result column="OLD_DATA_ID" jdbcType="VARCHAR" property="oldDataId" />
    <result column="STUDENT_ID" jdbcType="VARCHAR" property="studentId" />
  </resultMap>
</mapper>
