<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weyon.core.dao.CoreFieldInfoMapper">
  <resultMap id="BaseResultMap" type="com.weyon.core.entity.CoreFieldInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="FIELD_NAME_OBJ" jdbcType="VARCHAR" property="fieldNameObj" />
    <result column="FIELD_NAME_DEFAULT" jdbcType="VARCHAR" property="fieldNameDefault" />
    <result column="FIELD_NAME_USER" jdbcType="VARCHAR" property="fieldNameUser" />
    <result column="TEACHER_SHOW" jdbcType="CHAR" property="teacherShow" />
    <result column="STUDENT_SHOW" jdbcType="CHAR" property="studentShow" />
    <result column="TEACHER_EDIT" jdbcType="CHAR" property="teacherEdit" />
    <result column="STUDENT_EDIT" jdbcType="CHAR" property="studentEdit" />
    <result column="TEACHER_REQUIRED" jdbcType="CHAR" property="teacherRequired" />
    <result column="STUDENT_REQUIRED" jdbcType="CHAR" property="studentRequired" />
    <result column="FIELD_TYPE" jdbcType="VARCHAR" property="fieldType" />
    <result column="OPTIONS" jdbcType="VARCHAR" property="options" />
    <result column="OUTPUT_FIELD" jdbcType="CHAR" property="outputField" />
    <result column="PLACEHOLDER" jdbcType="VARCHAR" property="placeholder" />
  </resultMap>

  <select id="selectByOrgIdAndTableName" resultMap="BaseResultMap">
    SELECT * FROM tb_core_field_info
    WHERE ORG_ID = #{orgId} and TABLE_NAME = #{tableName}
  </select>

  <update id="updateBatch">
    update tb_core_field_info set
    TABLE_NAME =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id} then
      #{wdSolr.tableName}
    </foreach>
    ,FIELD_NAME_OBJ =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id} then
      #{wdSolr.fieldNameObj}
    </foreach>
    ,FIELD_NAME_DEFAULT =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id}
      then #{wdSolr.fieldNameDefault}
    </foreach>
    ,FIELD_NAME_USER =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id} then #{wdSolr.fieldNameUser}
    </foreach>
    ,TEACHER_SHOW =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id} then #{wdSolr.teacherShow}
    </foreach>
    ,STUDENT_SHOW =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id} then #{wdSolr.studentShow}
    </foreach>
    ,TEACHER_EDIT =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id} then #{wdSolr.teacherEdit}
    </foreach>
    ,STUDENT_EDIT =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id} then #{wdSolr.studentEdit}
    </foreach>
    ,TEACHER_REQUIRED =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id} then #{wdSolr.teacherRequired}
    </foreach>
    ,STUDENT_REQUIRED =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id} then #{wdSolr.studentRequired}
    </foreach>
    ,OUTPUT_FIELD =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id} then #{wdSolr.outputField}
    </foreach>
    ,PLACEHOLDER =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id} then #{wdSolr.placeholder}
    </foreach>
    ,FIELD_TYPE =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id} then #{wdSolr.fieldType}
    </foreach>
    ,OPTIONS =
    <foreach collection="list" item="wdSolr" index="index"
             separator=" " open="case id" close="end">
      when #{wdSolr.id} then #{wdSolr.options}
    </foreach>
    where ID in
    <foreach collection="list" item="wdSolr" index="index"
             separator="," open="(" close=")">
      #{wdSolr.id}
    </foreach>
  </update>

  <insert id="insertBatch">
    insert into tb_core_field_info(
    ID,ORG_ID,TABLE_NAME,FIELD_NAME_OBJ,FIELD_NAME_DEFAULT,FIELD_NAME_USER,TEACHER_SHOW,STUDENT_SHOW,TEACHER_EDIT,
    STUDENT_EDIT,TEACHER_REQUIRED,STUDENT_REQUIRED,FIELD_TYPE,OPTIONS,OUTPUT_FIELD,PLACEHOLDER)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      ((SELECT REPLACE(UUID(),'-','') AS ID),#{item.orgId},#{item.tableName},#{item.fieldNameObj},#{item.fieldNameDefault},
      #{item.fieldNameUser},#{item.teacherShow},#{item.studentShow},#{item.teacherEdit},#{item.studentEdit},
      #{item.teacherRequired},#{item.studentRequired},#{item.fieldType},#{item.options},#{item.outputField},#{item.placeholder}
      )
    </foreach>

  </insert>
</mapper>
