<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weyon.core.dao.CoreStudentEmployMapper">
  <resultMap id="BaseResultMap" type="com.weyon.core.entity.CoreStudentEmploy">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="STUDENT_KEY" jdbcType="CHAR" property="studentKey" />
    <result column="PQFS" jdbcType="VARCHAR" property="pqfs" />
    <result column="PQFSDM" jdbcType="CHAR" property="pqfsdm" />
    <result column="BYQX" jdbcType="VARCHAR" property="byqx" />
    <result column="BYQXDM" jdbcType="CHAR" property="byqxdm" />
    <result column="DWMC" jdbcType="VARCHAR" property="dwmc" />
    <result column="DWZZJGDM" jdbcType="VARCHAR" property="dwzzjgdm" />
    <result column="DWXZ" jdbcType="VARCHAR" property="dwxz" />
    <result column="DWXZDM" jdbcType="CHAR" property="dwxzdm" />
    <result column="DWHY" jdbcType="VARCHAR" property="dwhy" />
    <result column="DWHYDM" jdbcType="CHAR" property="dwhydm" />
    <result column="DWSZD" jdbcType="VARCHAR" property="dwszd" />
    <result column="DWSZDDM" jdbcType="CHAR" property="dwszddm" />
    <result column="GZZWLB" jdbcType="VARCHAR" property="gzzwlb" />
    <result column="GZZWLBDM" jdbcType="CHAR" property="gzzwlbdm" />
    <result column="DWLXR" jdbcType="VARCHAR" property="dwlxr" />
    <result column="LXRSJ" jdbcType="VARCHAR" property="lxrsj" />
    <result column="LXRDH" jdbcType="VARCHAR" property="lxrdh" />
    <result column="LXRDZYX" jdbcType="VARCHAR" property="lxrdzyx" />
    <result column="LXRCZ" jdbcType="VARCHAR" property="lxrcz" />
    <result column="DWYB" jdbcType="CHAR" property="dwyb" />
    <result column="DWDZ" jdbcType="VARCHAR" property="dwdz" />
    <result column="SFJSBDZ" jdbcType="TINYINT" property="sfjsbdz" />
    <result column="BDZQFLB" jdbcType="VARCHAR" property="bdzqflb" />
    <result column="BDZQFLBDM" jdbcType="CHAR" property="bdzqflbdm" />
    <result column="BDZXLH" jdbcType="VARCHAR" property="bdzxlh" />
    <result column="BDZBH" jdbcType="VARCHAR" property="bdzbh" />
    <result column="BDZQSSJ" jdbcType="INTEGER" property="bdzqssj" />
    <result column="BDZQWDWMC" jdbcType="VARCHAR" property="bdzqwdwmc" />
    <result column="BDZQWDWLS" jdbcType="VARCHAR" property="bdzqwdwls" />
    <result column="BDZQWDWLSDM" jdbcType="VARCHAR" property="bdzqwdwlsdm" />
    <result column="BDZQWDWDZ" jdbcType="VARCHAR" property="bdzqwdwdz" />
    <result column="QWDWSZD" jdbcType="VARCHAR" property="qwdwszd" />
    <result column="QWDWSZDDM" jdbcType="CHAR" property="qwdwszddm" />
    <result column="SJDWSZD" jdbcType="VARCHAR" property="sjdwszd" />
    <result column="SJDWSZDDM" jdbcType="VARCHAR" property="sjdwszddm" />
    <result column="SFJSDA" jdbcType="TINYINT" property="sfjsda" />
    <result column="DAZJDWMC" jdbcType="VARCHAR" property="dazjdwmc" />
    <result column="DAZJDWLXR" jdbcType="VARCHAR" property="dazjdwlxr" />
    <result column="DAZJDWDH" jdbcType="VARCHAR" property="dazjdwdh" />
    <result column="DAZJDWYB" jdbcType="CHAR" property="dazjdwyb" />
    <result column="DAZJDWDZ" jdbcType="VARCHAR" property="dazjdwdz" />
    <result column="SFQYHK" jdbcType="TINYINT" property="sfqyhk" />
    <result column="HKQZDW" jdbcType="VARCHAR" property="hkqzdw" />
    <result column="HKQZDZ" jdbcType="VARCHAR" property="hkqzdz" />
    <result column="XYSBH" jdbcType="VARCHAR" property="xysbh" />
    <result column="JYXYZP" jdbcType="VARCHAR" property="jyxyzp" />
    <result column="SXYX" jdbcType="VARCHAR" property="sxyx" />
    <result column="SXYXDM" jdbcType="CHAR" property="sxyxdm" />
    <result column="SXZY" jdbcType="VARCHAR" property="sxzy" />
    <result column="SXZYDM" jdbcType="CHAR" property="sxzydm" />
    <result column="SXXL" jdbcType="VARCHAR" property="sxxl" />
    <result column="SXXLDM" jdbcType="CHAR" property="sxxldm" />
    <result column="BDZBZ" jdbcType="VARCHAR" property="bdzbz" />
    <result column="CGCJMC" jdbcType="VARCHAR" property="cgcjmc" />
    <result column="JCJYLB" jdbcType="VARCHAR" property="jcjylb" />
    <result column="JCJYLBDM" jdbcType="VARCHAR" property="jcjylbdm" />
    <result column="JYZK" jdbcType="VARCHAR" property="jyzk" />
    <result column="JYZKDM" jdbcType="VARCHAR" property="jyzkdm" />
    <result column="JYCLLX" jdbcType="VARCHAR" property="jycllx" />
    <result column="JYCLLXDM" jdbcType="VARCHAR" property="jycllxdm" />
    <result column="WJYLB" jdbcType="VARCHAR" property="wjylb" />
    <result column="WJYLBDM" jdbcType="VARCHAR" property="wjylbdm" />
    <result column="FKLB" jdbcType="VARCHAR" property="fklb" />
    <result column="FKLBDM" jdbcType="VARCHAR" property="fklbdm" />
    <result column="GZ_QXZZHW" jdbcType="INTEGER" property="gzQxzzhw" />
    <result column="SFZYDK" jdbcType="TINYINT" property="sfzydk" />
    <result column="SFJYKN" jdbcType="TINYINT" property="sfjykn" />
    <result column="GZ_YPSJ" jdbcType="VARCHAR" property="gzYpsj" />
    <result column="YLQYDWFL" jdbcType="VARCHAR" property="ylqydwfl" />
    <result column="YLSYDWFL" jdbcType="VARCHAR" property="ylsydwfl" />
    <result column="DWLSBM" jdbcType="VARCHAR" property="dwlsbm" />
    <result column="DWLXBM" jdbcType="VARCHAR" property="dwlxbm" />
    <result column="DWSYZXZ" jdbcType="VARCHAR" property="dwsyzxz" />
    <result column="BDZ_BZH" jdbcType="VARCHAR" property="bdzBzh" />
    <result column="BDZBH_QZ" jdbcType="VARCHAR" property="bdzbhQz" />
    <result column="BDZBH_HZ" jdbcType="VARCHAR" property="bdzbhHz" />
    <result column="BDZ_DACL" jdbcType="VARCHAR" property="bdzDacl" />
    <result column="JY_KZZD1" jdbcType="VARCHAR" property="jyKzzd1" />
    <result column="JY_KZZD2" jdbcType="VARCHAR" property="jyKzzd2" />
    <result column="JY_KZZD3" jdbcType="VARCHAR" property="jyKzzd3" />
    <result column="JY_KZZD4" jdbcType="VARCHAR" property="jyKzzd4" />
    <result column="JY_KZZD5" jdbcType="VARCHAR" property="jyKzzd5" />
    <result column="JY_KZZD6" jdbcType="VARCHAR" property="jyKzzd6" />
    <result column="JY_KZZD7" jdbcType="VARCHAR" property="jyKzzd7" />
    <result column="JY_KZZD8" jdbcType="VARCHAR" property="jyKzzd8" />
    <result column="CHECK_UPDATE" jdbcType="TINYINT" property="checkUpdate" />
    <result column="CHECK_DATE" jdbcType="TIMESTAMP" property="checkDate" />
    <result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>
