<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weyon.core.dao.CoreStudentSourceMapper">
  <resultMap id="BaseResultMap" type="com.weyon.core.entity.CoreStudentSource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="BIND_WECHAT" jdbcType="TINYINT" property="bindWechat" />
    <result column="OPEN_ID" jdbcType="CHAR" property="openId" />
    <result column="SCHOOL_ID" jdbcType="INTEGER" property="schoolId" />
    <result column="GRADUATE_YEAR" jdbcType="SMALLINT" property="graduateYear" />
    <result column="STUDENT_KEY" jdbcType="CHAR" property="studentKey" />
    <result column="XM" jdbcType="VARCHAR" property="xm" />
    <result column="XB" jdbcType="CHAR" property="xb" />
    <result column="XBDM" jdbcType="CHAR" property="xbdm" />
    <result column="SFZH" jdbcType="CHAR" property="sfzh" />
    <result column="MZ" jdbcType="VARCHAR" property="mz" />
    <result column="MZDM" jdbcType="CHAR" property="mzdm" />
    <result column="SYSZDDM" jdbcType="CHAR" property="syszddm" />
    <result column="SYSZD" jdbcType="VARCHAR" property="syszd" />
    <result column="MOBILEPHONE" jdbcType="CHAR" property="mobilephone" />
    <result column="QQ" jdbcType="CHAR" property="qq" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="JTDZ" jdbcType="VARCHAR" property="jtdz" />
    <result column="JTDH" jdbcType="VARCHAR" property="jtdh" />
    <result column="JTYB" jdbcType="CHAR" property="jtyb" />
    <result column="KSH" jdbcType="VARCHAR" property="ksh" />
    <result column="KSLBDM" jdbcType="CHAR" property="kslbdm" />
    <result column="KSLB" jdbcType="VARCHAR" property="kslb" />
    <result column="YXDM" jdbcType="CHAR" property="yxdm" />
    <result column="YXMC" jdbcType="VARCHAR" property="yxmc" />
    <result column="XLDM" jdbcType="CHAR" property="xldm" />
    <result column="XL" jdbcType="VARCHAR" property="xl" />
    <result column="XZ" jdbcType="CHAR" property="xz" />
    <result column="SZYX" jdbcType="VARCHAR" property="szyx" />
    <result column="ZYDM" jdbcType="CHAR" property="zydm" />
    <result column="ZY" jdbcType="VARCHAR" property="zy" />
    <result column="ZYFX" jdbcType="VARCHAR" property="zyfx" />
    <result column="SZBJ" jdbcType="VARCHAR" property="szbj" />
    <result column="XH" jdbcType="VARCHAR" property="xh" />
    <result column="RXSJ" jdbcType="CHAR" property="rxsj" />
    <result column="BYSJ" jdbcType="CHAR" property="bysj" />
    <result column="KNSLBDM" jdbcType="CHAR" property="knslbdm" />
    <result column="KNSLB" jdbcType="CHAR" property="knslb" />
    <result column="SFSLBDM" jdbcType="CHAR" property="sfslbdm" />
    <result column="SFSLB" jdbcType="CHAR" property="sfslb" />
    <result column="PYFSDM" jdbcType="CHAR" property="pyfsdm" />
    <result column="PYFS" jdbcType="CHAR" property="pyfs" />
    <result column="ZXWYDM" jdbcType="CHAR" property="zxwydm" />
    <result column="ZXWY" jdbcType="VARCHAR" property="zxwy" />
    <result column="DASFZRXX" jdbcType="TINYINT" property="dasfzrxx" />
    <result column="HKSFZRXX" jdbcType="TINYINT" property="hksfzrxx" />
    <result column="RXQDASZDW" jdbcType="VARCHAR" property="rxqdaszdw" />
    <result column="RXQHKSZDPCS" jdbcType="VARCHAR" property="rxqhkszdpcs" />
    <result column="DXHWPDW" jdbcType="VARCHAR" property="dxhwpdw" />
    <result column="CXSY" jdbcType="VARCHAR" property="cxsy" />
    <result column="AUDIT_STATUS" jdbcType="TINYINT" property="auditStatus" />
    <result column="AUDIT_CONTENT" jdbcType="VARCHAR" property="auditContent" />
    <result column="AUDIT_DATE" jdbcType="TIMESTAMP" property="auditDate" />
    <result column="AUDITOR_ID" jdbcType="VARCHAR" property="auditorId" />
    <result column="UNBIND_IMG_URL" jdbcType="VARCHAR" property="unbindImgUrl" />
    <result column="UNBIND_CONTENT" jdbcType="VARCHAR" property="unbindContent" />
    <result column="KZZD1" jdbcType="VARCHAR" property="kzzd1" />
    <result column="KZZD2" jdbcType="VARCHAR" property="kzzd2" />
    <result column="KZZD3" jdbcType="VARCHAR" property="kzzd3" />
    <result column="KZZD4" jdbcType="VARCHAR" property="kzzd4" />
    <result column="KZZD5" jdbcType="VARCHAR" property="kzzd5" />
    <result column="KZZD6" jdbcType="VARCHAR" property="kzzd6" />
    <result column="KZZD7" jdbcType="VARCHAR" property="kzzd7" />
    <result column="KZZD8" jdbcType="VARCHAR" property="kzzd8" />
    <result column="CHECK_PHONE_UPDATE" jdbcType="TINYINT" property="checkPhoneUpdate" />
    <result column="CHECK_UPDATE" jdbcType="TINYINT" property="checkUpdate" />
    <result column="CHECK_DATE" jdbcType="TIMESTAMP" property="checkDate" />
    <result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>
